.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #FFBB33;

}

.social_list svg {
    font-size: 1em;
    cursor: pointer;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.copy_right {
    margin-top: 0.5em;
    color: #FFBB33;
}